<%= render "shared/second-header"%>

<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      店舗情報の確認
    </h1>
    <%# 購入内容の表示 %>
    <div class='buy-item-info'>
      <%= image_tag @item.image, class: 'buy-item-img' %>
      <div class='buy-item-right-content'>
        <h1 class='buy-item-text'>
          <%= @item.name %>
        </h1>
        <div class='buy-item-price'>
          <p class='item-price-text'><%=@item.shipping_fee_status.name%></p>
          <p class='item-price-sub-text'>（最寄駅）</p>
        </div>
      </div>
    </div>
    <%# /購入内容の表示 %>

    <%# 支払額の表示 %>
    <div class='item-payment'>
      <h1 class='item-payment-title'>
        客単価
      </h1>
      <p class='item-payment-price'>
        約¥<%= @item.price %>
      </p>
    </div>
    <%# /支払額の表示 %>

    <%= form_with  url: item_orders_path , id: 'charge-form', class: 'transaction-form-wrap',local: true do |f| %>

    <%# カード情報の入力 %>
    <div class='credit-card-form'>
      <h1 class='info-input-haedline'>
        『店舗の住所・最寄からのアクセス・その他』
      </h1>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text"></label>
          <span class="indispensable">下記を必ずご確認下さい↓</span>
        </div>
      <p class='info-input-haedline'>
        <%=@item.info%>
      </p>
         <%# 消すとまずいやつ %>
          <%# 消すとまずいやつ %>
        <div class='available-card'>
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text"></label>
          
        </div>
        <div class='input-expiration-date-wrap'>
          <%# 消すとまずいやつ %>
          <%# 消すとまずいやつ %>
          <p></p>
          <%# 消すとまずいやつ %>
          <%# 消すとまずいやつ %>
          <p></p>
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text"></label>
        </div>


      </div>
    </div>
    <%# /カード情報の入力 %>
    
    <%# 予約者の情報記入欄 %>
    <div class='shipping-address-form'>
      <h1 class='info-input-haedline'>
        ご予約者様記入欄
      </h1>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">予約者様のお名前</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :name, class:"input-default", id:"postal-code", placeholder:"例）山田太郎", maxlength:"8" %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">予約者様の電話番号</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :phone_number, class:"input-default", id:"postal-code", placeholder:"例）09012341234", maxlength:"11" %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">ご予約日時</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :day, class:"input-default", id:"city", placeholder:"例）1月1日"%>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">ご予約時間</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :time, class:"input-default", id:"addresses", placeholder:"例）19時30分"%>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">お連れ様との関係性</label>
          <span class="form-any">任意</span>
        </div>
        <%= f.text_field :building, class:"input-default", id:"building", placeholder:"例）恋人"%>
      </div>
    </div>
    <%# /配送先の入力 %>
    <div class='buy-btn'>
      <%= f.submit "予約確定",class:"buy-red-btn" %>
    </div>
    <% end %>
  </div>
</div>
<%= render "shared/second-footer"%>